/* Mise en page CSS Personnalisée */
html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 81px;
  padding-bottom: 140px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 0;
}

#beneficiaireForm label > span[class~="glyphicon"] {
  font-size: 75%;
}

.text-smallcase {
  font-variant: small-caps;
}


.fixed {
  border:1px solid lightgray;
  display:inline-block;
}

/*.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
  border: 2px solid #2c3e50;
}

@media (min-width: 768px) {
  .nav-tabs.nav-justified > li > a {
    border-bottom: 2px solid #dce4ec;
  }

  .nav-tabs.nav-justified > .active > a,
  .nav-tabs.nav-justified > .active > a:hover,
  .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: rgba(0,0,0,0);
  }
}*/


#myTabContent {
  position: relative;
}

.top-right-button-group {
  float: right;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index:200;
}

#top-right-floating-group {
  float:right;
  position:relative;
  right:15px;
}

.table-vertical td:nth-of-type(2n+1),
.table-vertical th:nth-of-type(2n+1) {
  background-color: #f9f9f9;
}

.table-vertical th {
  border-bottom: rgb(236, 240, 241) 2px solid;
}
